<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="title">
      <h1>Index Page</h1>
      <h2>Welcome to the Index Page</h2>
      <% if (messages.success && messages.success.length > 0) { %>
      <h3 class="flash-welcomeback"><%= messages.success[0] %></h3>
      <% } %>
    </div>
    <div class="main-container">
      <% if (!userId) { %>
      <div class="signin-msg">
        <h3>
          You must sign in to use the search functionality, please
          <a href="/login">sign in</a> to continue
        </h3>
      </div>
      <% } else { %>
      <!-- Display search functionality-->
      <% } %>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
