<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="title">
      <h1>Index Page</h1>
      <h2>Welcome to the Index Page</h2>
      <% if (message) { %>
      <p><%= message %></p>
      <% } %>
    </div>
    <div class="main-container"></div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
