<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="title">
      <h1>Register</h1>
    </div>
    <div class="flex-container">
      <div class="form-container">
        <h4>Register to gain access to search the database</h4>
        <form action="/signup" method="post">
          <label for="username"> Username:</label>
          <input type="text" name="username" id="username" required /><br />
          <label for="password"> Password:</label>
          <input type="password" name="password" id="password" required /><br />
          <input type="submit" value="Signup" class="btn" />
        </form>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
