* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 229, 229);
  /* min-height: 100%; */
}

.title {
  text-align: center;
}

nav {
  display: flex;
  background-color: #4a64a1;
  margin-bottom: 20px;
  padding-left: 10px;
  min-height: 40px;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.75);
  /* opacity: 0.9; */
}

nav > a {
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  min-height: 40px;
  background-color: #4a64a1;
  color: white;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  align-items: center;
  border: 1px solid #000;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.75);
  margin-top: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.75);
  /* background-color: rgba(74, 100, 161, 0.451); */
  background-color: white;
  margin-bottom: 20px;
}

.form-container input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
}

form {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #4a64a1;
  color: white;
  font-weight: bold;
}

.alert {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  font-weight: 700;
  color: red;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.flash-welcomeback {
  margin-top: 100px;
}

.search-form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
}

.search-results {
  margin-bottom: 20px;
}
